#root {
    height: 100%;
    width: 100%;
    position: relative; 
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #116466;
    font-family: 'Open Sans';
    overflow-y: scroll !important;

    @media (width < 1024px) {
        background: none;

    }
}
.input__text_container {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border-width: 1px;
    position: relative;
    border: 1px solid #DEDEE2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input__text {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    &:valid + .input__text_label{
        top: -10px;
    }
    &:focus + .input__text_label{
        top: -10px;
    }
    position: absolute;
    z-index: 10;
}
.input__text_label {
    transition: 0.4s;
    left: 15px;
    top: 25%;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;
    color: #505255;

    background-color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
}

.main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}